{% load static %}
<!DOCTYPE html>
<html>
    <head
        <title>My Django Blog</title>
        <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}" />
    </head>
    <body>
        <div id="header">
            <ul id="control-bar">
                {% if user.is_authenticated %}
                {% if user_is_staff %}<li><a href="{% url 'admin:index' %}">admin</li>{% endif %}
                    <li>
                        <form id="frm_logout" method="post" action="{% url 'logout' %}">
                            {% csrf_token %} 
                            <a href="javascript:$('#frm_logout').submit();" >logout</a>
                        </form>
                    </li>
                {% else %}
                <li><a href="{% url 'login' %}">login</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="container">
            {% block content %}
            [ content will go here ]
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>